.sticking {
	width: 100%;
	z-index: 999;
	background-color: #ffffff;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.uproda-header-spacer { height:10px; width: 100%}
.navi { width: 100%; }
.navi li	{
	float: left;
	text-align: center;
}
.navi li a	{
	display: block;
	width: 85px;
	padding: 2px 2px;
	text-decoration: none;
	color: black;
}
.navi li a:hover {
	padding: 2px 2px;
	text-decoration: none;
	color: blue;
}


div.image-list { font-size:0 }
a.image-list  {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}


a.image-list:nth-of-type(2n) { margin-right: 0; }

@media screen and (min-width: 50em) {
  a.image-list { width: calc(25% - 6px); }
  a.image-list:nth-of-type(2n) { margin-right: 8px; }
  a.image-list:nth-of-type(4n) { margin-right: 0; }
}

a.image-list:hover img { transform: scale(1.15); }
figure { margin: 0;}

img.image-item {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}


/* ローディング */
.is-hide{
 display:none;
}
.loading{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,.5);
}
.loading::before{
  content:"";
  display:block;
  position:fixed;
  left:50%;
  top:50%;
  width:50px;
  height:50px;
  border-radius:5px;
  margin-top:-15px;
  margin-left:-15px;
  background:white;
}
.loading::after{
  content:"";
  display:block;
  position:fixed;
  left:50%;
  top:50%;
  width:32px;
  height:32px;
  border-radius:20px;
  margin-top:-10px;
  margin-left:-10px;
  border:4px solid #60ABB9;
  border-right:4px solid white;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}


/* Larger than mobile */
@media (min-width: 400px) {}

@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
