@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
	    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", monospace;
}
pre, code, var, samp, kbd, .mono, .list td {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size: 12px;
  line-height: 1.2;
}

table.list td.hash { width:30em}
table.list td.comment { width:50em}
table.list td.number td.size { width:5em; text-align:right;padding-left:1em; padding-right:1em}
table.list td.size { width:10em}
table.list td.ng { width:2em;text-align:center}


.pagination { margin: 0}
.data-pagination { text-align: right }
