.headerBar {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  border-bottom: 1px solid $border-color;
  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid $border-color-dark;
  }

  .SiteLogo {
    display: flex;
    align-items: center;
    &:after {
      margin-left: 0.5rem;
      content: ' ネ実onry';
    }

    img {
      width: 36px;
      height: 36px;
    }
  }

  Nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    ul {
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;

      li {
        padding-right: 0.25rem;
        padding-left: 0.25rem;

        a {
          color: $black;
          @media (prefers-color-scheme: dark) {
            color: $black-dark;
          }
        }
      }
    }
  }

  .upload-button {
    svg {
      fill: $teal;
      @media (prefers-color-scheme: dark) {
        fill: $teal-dark;
      }
    }
  }
}
