.image-detail {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  height: 100%;

  .view {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .contents {
    margin-top: auto;
    color: $black;
    @media (prefers-color-scheme: dark) {
      color: $black-dark;
    }
  }
}
