.image-detail {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  height: 100%;

  .view {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    div.image {
      position: relative;
      width: 100%;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: auto;
        height: auto;

        margin-left: auto;
        margin-right: auto;

        max-width: 100%;
        max-height: 100%;
        filter: drop-shadow(1px 1px 1px rgba($black, 0.2));
        @media (prefers-color-scheme: dark) {
          filter: drop-shadow(1px 1px 1px rgba($black-dark, 0.2));
        }
      }
    }

    .contents {
      color: $black;
      @media (prefers-color-scheme: dark) {
        color: $black-dark;
      }
    }
  }



  .footer {
    margin-top: auto;
    padding: 0.25rem;
    color: $black;
    @media (prefers-color-scheme: dark) {
      color: $black-dark;
    }
  }
}
