.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .25rem;

  a {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;

    img {
      width: 100%;
    }
  }
}
