.upload-image {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  height: 100%;

  .upload-file {
    label {
      width: 100%;
      padding: 0.5rem;
      border: 1px $silver dotted;
      display: flex;
      justify-content: center;
      @media (prefers-color-scheme: dark) {
        border-color: $silver-dark;
      }
      cursor: pointer;

      input[type='file'] {
        display: none;
      }
    }
  }


  .roda-image {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    border: 1px $silver dotted;
    @media (prefers-color-scheme: dark) {
      border-color: $silver-dark;
    }

    .preview {
      position: relative;

      img {
        height: 160px;
        filter: drop-shadow(1px 1px 1px rgba($black, 0.2));
        @media (prefers-color-scheme: dark) {
          filter: drop-shadow(1px 1px 1px rgba($black-dark, 0.2));
        }
        object-fit: scale-down;

        @include mq(md) {
          height: 360px;
        }
        @include mq(lg) {
          height: 480px;
        }
      }

      .cancel-image-button {
        position: absolute;
        right: 0;
        top: -1;
      }
    }
  }
}

