// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// light mode Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;
$white: #FFFFFF;
$silver: #c0c0c0;

$border-color: rgba(#c0c0c0, 0.8);

// dark mode Colors
$blue-dark: #cb6f23;
$indigo-dark: #9a8b32;
$pruple-dark: #6a9e1d;
$pink-dark: #099264;
$red-dark: #1ccbd0;
$orange-dark: #0966c0;
$yellow-dark: #0012b5;
$green-dark: #c73e8d;
$teal-dark: #b23f4a;
$cyan-dark: #934d14;
$black-dark: #f0f0f0;
$white-dark: #000000;
$silver-dark: #3f3f3f;

$border-color-dark: rgba(#3f3f3f, 0.8);

$breakpoints: (
  'xs': 'screen and (max-witdh: 375px)',
  'sm': 'screen and (min-width: 376px) and (max-width: 428px)',
  'md': 'screen and (min-width: 429px) and (max-width: 1199px)',
  'lg': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
