@charset "shift_jis";
body {
  color: #000000;
  font-size: 100%;
  background-color: #ffffff;
}
div.main {
}
h1 {
  margin: 2px;
  padding: 1px;
  color: #3366cc;
  font-family: Chicago, Verdana, Arial, "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
  font-weight: bold;
  font-size: 115%;
  background-color: #caccff;
}
p.description {
  margin-top: 1.3em;
}
p.pages {
  margin-top: 0;
  margin-bottom: 0;
}
p.info {
  margin-top: 0;
  margin-bottom: 0;
}
p.delete {
  margin-top: 0;
  margin-bottom: 0;
}
p.credit {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: Chicago, Verdana, Arial, "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
  font-size: 75%;
  text-align: right;
}
div.switch p {
  font-size: 115%;
  text-align: center;
}
div.admin h2 {
  margin: 2px;
  padding: 1px;
  color: #3366cc;
  font-family: Chicago, Verdana, Arial, "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
  font-weight: bold;
  font-size: 115%;
  background-color: #caccff;
}
p.lead {
  margin-top: 2em;
  margin-bottom: 0;
}
p.lead_first {
  margin-top: 0;
  margin-bottom: 0;
}
div.error p, div.dlkey p {
  text-align: center;
}
div.dlfile p {
  text-align: left;
}
table {
  width: 100%;
}
table.check {
  width: auto;
}
table.setting, table.info, table.dlform {
  width: auto;
  margin: 0 auto;
}
table.check p {
  display: inline;
}
th, td {
  font-family: Chicago, Verdana, Arial, "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
  font-size: 80%;
}
th {
  font-weight: normal;
  text-align: left;
}
a:link {
  color: #6060FF;
}
a:visited {
  color: #6060FF;
}
a:active {
  color: #6060FF;
}
a:hover {
  background-color: #EECCCC;
}
input {
  font-family: Chicago, Verdana, Arial, "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
  font-size: 80%;
}
td input {
  font-size: 100%;
}
input, textarea {
  border: 1px solid ;
  font-size: 80%;
  background-color: #FFFFFF;
}
span.detect {
  color: #FF00000;
}
span.key {
  color: #FF00000;
}
